<div class="radio">
  <label>
    <input type="radio" name="hackdayRadio" value="<%=hack.id%>" />
    <%= "#{hack.title}, by #{hack.creator}:" %>
    <div class= "pull-right">
      <b><%=hack.votes%></b> votes
    </div> 
  </label>
</div>