<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar inner", id="topbar">
    <div class="container">
      <%= link_to "Hackday", root_path, id: "logo"%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Previous Hackdays", root_path%> </li>
          <li><%= link_to "New Hackday",  new_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
